<div class="card">
    <div class="card-body">
      <h4 class="card-title">Modificación de citas</h4>
    </div>
    <div class="card-body">
      <form id="formulario" [formGroup]="form" (ngSubmit)="Guardar()" class="form" role="form">
      <div class="row">
          <div class="d-flex justify-content-start h5 col-2 my-3"></div>
           <div class="d-flex justify-content-end col-10">  
            <button class="btn btn-light btn-sm" [routerLink]="['/Cita']" >
              <fa-icon [icon]="faArrowRotateLeft"></fa-icon> Regresar</button>
            <button class="btn btn-primary btn-sm mx-3" type="submit">
              <fa-icon [icon]="faSave"></fa-icon> Guardar</button>
           </div>
         </div>
         <div class="row">
           <div class="col-12">
            <div class="mb-2 col-6">
              <label for="Placa" class="form-label">Placa</label>
              <input  placeholder="Placa" class="form-control"  name="Placa" formControlName="nombre" />
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Placa'].touched || seHizoSubmit) && ControlesFormularios['Placa'].errors?.['required']">
              Nombre es requerido
              </span>
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Placa'].touched || seHizoSubmit) && ControlesFormularios['Placa'].errors?.['maxLength']">
              Nombre es hasta longitud de 250 carácteres
              </span>
  
            </div>

            <div class="mb-2 col-3">
              <label for="precio" class="form-label">Fecha</label>
              <input  placeholder="Precio" class="form-control"  name="precio" formControlName="Fecha" />
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Fecha'].touched || seHizoSubmit) && ControlesFormularios['Fecha'].errors?.['required']">
              Precio es requerido
              </span>
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Fecha'].touched || seHizoSubmit) && ControlesFormularios['Fecha'].errors?.['pattern']">
               Precio Mínima es valor decimal con dos posiciones decimales
              </span>
            </div>
            <div class="mb-2 col-3">
              <label for="cantidad" class="form-label">Estado</label>
              <input  placeholder="Cantidad" class="form-control"  name="cantidad" formControlName="cantidad" />
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Estado'].touched || seHizoSubmit) && ControlesFormularios['Estado'].errors?.['required']">
   
              </span>
              <span class="text-danger"
              *ngIf="(ControlesFormularios['Estado'].touched || seHizoSubmit) && ControlesFormularios['Estado'].errors?.['pattern']">
              </span>
            </div>             
           </div>
         </div>
  
        </form>
    </div>
  </div>
